In [4]:
import pandas as pd

In [6]:
df = pd.DataFrame({'Tract': ['000121', '010023', '030303'], 'ZIP': ['98765', '97654', '96543']})
df

    Tract    ZIP
0  000121  98765
1  010023  97654
2  030303  96543

In [15]:
df['Tract'].describe()

count          3
unique         3
top       030303
freq           1
Name: Tract, dtype: object

In [4]:
xs = {'a':1, 'b':2, 'c':3}
ys = {'d':3, 'e':4, 'f':5}

In [8]:
zs = {**xs, **ys}
zs

{'a': 1, 'b': 2, 'c': 3, 'd': 3, 'e': 4, 'f': 5}

In [9]:
ws = {**ys, 'd':4}
ws

{'d': 4, 'e': 4, 'f': 5}

In [14]:
ls = [1,2,3,4,5]
[*ls, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]